[core]
    pager = less -q

[color]
    ui = auto

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

[url "ssh://git@bitbucket.org/"]
    insteadOf = https://bitbucket.org/

[url "ssh://git@gitlab.com/"]
    insteadOf = https://gitlab.com

[alias]
    ls = log -n 16 --pretty=format:"%C(yellow)%h\\ %C(cyan)[%cn]\\ %C(reset)%s\\ %C(red)%d" --decorate
    lo = log --pretty=format:"%C(yellow)%h\\ %C(cyan)[%cn]\\ %C(reset)%s\\ %C(red)%d" --decorate
    ll = log --pretty=format:"%C(yellow)%h\\ %C(cyan)[%cn]\\ %C(reset)%s\\ %C(red)%ad" --decorate --date=short --stat
    tree = log --pretty=format:"%C(yellow)%h\\ %C(cyan)[%cn]\\ %C(reset)%s\\ %C(red)%d" --decorate --graph
    graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
    graph2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    unstage = reset HEAD
    st = status
    ch = checkout
    ci = commit
    br = branch

[help]
    autocorrect = 1

[diff]
    tool = vimdiff
    algorithm = histogram
    compactionHeuristic = true

[merge]
    tool = vimdiff
