# vim: fdm=marker
# inputrc

$include /etc/inputrc

set input-meta on
set output-meta on
set convert-meta off

set match-hidden-files on
set page-completions on
set completion-ignore-case on
set completion-query-items 200
set show-all-if-ambiguous on
set show-all-if-unmodified on
set echo-control-characters off
set skip-completed-text on
set match-hidden-files off

# colors
set colored-stats on
set visible-stats on
set mark-symlinked-directories on
set colored-completion-prefix on
set menu-complete-display-prefix on

# vi-mode
# set editing-mode vi

set editing-mode emacs

$if mode=vi
    set keymap vi-command
    "gg": beginning-of-history
    "G": end-of-history

    set keymap vi-insert
    "\C-l": clear-screen
    "\C-w": backward-kill-word
    "\C-p": history-search-backward
    "\C-n": history-search-forward
$endif

$if mode=emacs
    "\C-p": history-search-backward
    "\C-n": history-search-forward
$endif
