[Unit]
Description=Sync calendar updates
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/alex/bin/calendarsync
StandardOutput=syslog
StandardError=syslog

