[Unit]
Description=Check for new mail
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/alex/bin/checkmail
StandardOutput=syslog
StandardError=syslog

